* {
    margin: 0;
    font-family: "Roboto Condensed", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
    /* overflow: hidden; */
}

.container {
    width: 345px;
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 68px 40px 20px;
    overflow: hidden;
    border-radius: 8px;
}

.container h2 {
    margin: 0 0 4px 0;
    font-weight: 600;
}

.container span {
    font-size: 13px;
    margin: 0 0 28px 0;
    color: slategray;
}

.container .input {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px 18px;
    margin-bottom: 48px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -5px -5px 13px #d9d9d927,
        5px 5px 13px #e7e7e7;
}

.container .input span,
.container .input label:not(:last-child) {
    margin-bottom: 8px;
    font-size: 10px;
}

.container .input label {
    font-family: "Ubuntu", serif;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

.container .input span {
    color: crimson;
    font-style: italic;
}

.container .input input {
    border: none;
    font-size: 16px;
    border-bottom: solid 1px silver;
    margin-bottom: 16px;
}

.container .input input:focus {
    outline: none;
}


.container .input button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(0, 255, 167);
    background: linear-gradient(90deg, rgb(0, 255, 238) 2%, rgba(0, 255, 233, 1) 32%, rgba(0, 226, 243, 1) 74%, rgba(0, 189, 255, 1) 100%);
    color: #ffffff;
    font-size: large;
    border: none;
    padding: 4px 48px;
    border-radius: 12px;
    margin: 0;
    cursor: pointer;
}

.container .input button:hover {
    background: rgb(34, 255, 178);
    background: linear-gradient(90deg, rgb(186, 255, 250) 2%, rgb(187, 255, 249) 32%, rgb(167, 249, 255) 74%, rgb(180, 235, 255) 100%);
}

.container .or {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: darkgray;
    margin-bottom: 8px;
}


.container .order-option .option {
    padding: 6px 0;
    margin-bottom: 4px;
    color: #ffffff;
    border-radius: 12px;
    text-align: center;
    font-size: 12px;
    background: rgb(0, 200, 255);
    cursor: pointer;
}

.container .input p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: crimson;
    display: none;
}

.container .order-option .option:hover {
    background: rgba(0, 200, 255, 0.457);
}

.date,
.name,
.what {
    font-weight: bold;
    color: rgba(255, 0, 0);
    position: absolute;
    animation: bounce 1s ease infinite;
    pointer-events: none;
}



@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(-10px, -10px) rotate(-10deg);
    }

    50% {
        transform: translate(10px, 10px) rotate(10deg);
    }

    75% {
        transform: translate(-10px, 10px) rotate(-10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 24px;
        justify-content: flex-start;
    }

    .container {
        width: 100%;
        position: relative;
        padding: 20px;
        box-shadow: none;
        border-radius: 8px;
    }

    .container h2 {
        font-size: 18px;
        /* Điều chỉnh kích thước chữ */
    }

    .container span {
        font-size: 11px;
    }

    .container .input {
        padding: 16px;
        margin-bottom: 32px;
    }

    .container .input input {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .container .input button {
        font-size: medium;
        padding: 4px 45px;
        /* Giảm kích thước nút */
    }

    .container .or {
        font-size: 10px;
    }

    .container .order-option .option {
        font-size: 10px;
        padding: 4px 0;
    }

    .date,
    .name,
    .what {
        font-size: 14px;
        /* Điều chỉnh kích thước chữ */
    }

    .loading-items {
        left: 50%;
        transform: translateX(-50%);
    }
}

.bur {
    background-color: rgba(0, 0, 0, 0.142);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.moder-quest {
    position: absolute;
    width: 60%;
    border-radius: 8px;
    padding: 4px 28px 12px;
    text-align: center;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: left 0.2s ease, top 0.2s ease;
}

.moder-quest .moder-header {
    font-size: 20px;
    font-weight: 500;
    margin: 0 -28px;
    border-bottom: 1px solid silver;
    padding: 8px;
}

.moder-quest .moder-content {
    padding: 18px 0;
    font-style: italic;
}

.moder-quest .moder-answers {
    display: flex;
    justify-content: space-around;
}

.moder-quest .moder-answers>div {
    background-color: #e7e7e7;
    padding: 8px 26px;
    border-radius: 8px;
    cursor: pointer;
}

.moder-quest .moder-answers>div.btn-true {
    background-color: rgb(0, 225, 255);
    color: floralwhite;
}

.moder-quest .moder-answers>div.btn-false {
    background-color: rgb(255, 132, 0);
    color: floralwhite;
}

.moder-quest .moder-answers>div:hover {
    background-color: #e7e7e7;
    color: black;
}

.loading-items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
    position: relative;

}


/* Loading 1 */
.loading {
    position: relative;
    width: 110px;
    display: none;
    position: relative;
    top: 15px;
}

.loading span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.loading span:first-child {
    animation: loading-span1 1.3s infinite;
    left: 0;
}

.loading span:nth-child(2) {
    animation: loading-span2 1.3s infinite;
    left: 40px;
}

.loading span:nth-child(3) {
    animation: loading-span3 1.3s infinite;
    left: 80px;
}

@keyframes loading-span1 {
    0% {
        height: 30px;
    }

    25% {
        height: 50px;
    }

    50% {
        height: 30px;
    }

    100% {
        height: 30px;
    }
}

@keyframes loading-span2 {
    0% {
        height: 30px;
    }

    25% {
        height: 30px;
    }

    50% {
        height: 50px;
    }

    75% {
        height: 30px;
    }

    100% {
        height: 30px;
    }
}

@keyframes loading-span3 {
    0% {
        height: 30px;
    }

    25% {
        height: 30px;
    }

    50% {
        height: 30px;
    }

    75% {
        height: 50px;
    }

    100% {
        height: 30px;
    }
}